# Dossier BlackJack (tous sauf pdf)
BlackJack/Code 
BlackJack/DM 
BlackJack/Figure 
BlackJack/image 
BlackJack/Parties 
BlackJack/style 
BlackJack/titre

BlackJack/Projet_BlackJack.aux 
BlackJack/Projet_BlackJack.idx 
BlackJack/Projet_BlackJack.log 
BlackJack/Projet_BlackJack.synctex.gz 
BlackJack/Projet_BlackJack.tex 
BlackJack/Projet_BlackJack.thm 
BlackJack/Projet_BlackJack.toc 

# Dossier FonctionDeBaseGit (Tous sauf PDF et Source)
FonctionDeBaseGit/image 
FonctionDeBaseGit/logo 
FonctionDeBaseGit/Partie 
FonctionDeBaseGit/style 
FonctionDeBaseGit/titre

FonctionDeBaseGit/Git.aux 
FonctionDeBaseGit/Git.idx 
FonctionDeBaseGit/Git.log 
FonctionDeBaseGit/Git.synctex.gz 
FonctionDeBaseGit/Git.tex 
FonctionDeBaseGit/Git.thm 
FonctionDeBaseGit/Git.toc 

# Dossier BaseDuCode (tous sauf pdf)
BaseDuCode/logo 
BaseDuCode/Partie 
BaseDuCode/style 
BaseDuCode/titre

BaseDuCode/baseEtPrincipe.aux 
BaseDuCode/baseEtPrincipe.idx 
BaseDuCode/baseEtPrincipe.log 
BaseDuCode/baseEtPrincipe.synctex.gz 
BaseDuCode/baseEtPrincipe.tex 
BaseDuCode/baseEtPrincipe.thm 
BaseDuCode/baseEtPrincipe.toc 

BaseDuCode/baseEtPrincipe.pdf 

# Dossier test (Tout)
Java/
siteWebTP/
exempleDeCode/

