:root 
{
    font-size: 16px;
    font-family: 'Open Sans';

    --text-primary: #b6b6b6;
    --text-secondary: #F7FE2E ;
    --bg-primary: #23232e;
    --bg-secondary: #141418;

     --transition-speed: 600ms;
}

body
{
    color: black;
    background-color: white;

    margin: 0;
    padding: 0;
}

/*tail de la scrollbar du navigateur*/
body::-webkit-scrollbar
{
    width: 0.25rem;
}

/*rail de la scrollbar du navigateur*/
body::-webkit-scrollbar-track 
{
    background: #1e1e24;
}

/*couleur de la scrollbar du navigateur*/
body::-webkit-scrollbar-thumb
{
    background: red;
}

main
{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar
{

    /* fix sur le coter de la page */
    position: fixed;

    /* couleur du fond */
    background-color: var(--bg-primary);

    /*vites de developage du nav*/
    transition: 
        width 600ms ease;
    /* overflow: scroll; */
}

.navbar-nav
{
    /*enleve les point devant le lien*/
    list-style: none; 
    /*suprime les marge de l'iteme*/
    margin: 0; 
    /*prend toute la place l'iteme*/
    padding: 0; 
    /*en ligne sans faire attention au item*/
    display: flex; 
    /*forcer a etre alimner en colone*/
    flex-direction: column;
    /*centre dans le nav*/
    align-items: center;

    height: 100%;
}

.nav-item
{
    width: 100%;
}

.nav-link 
{
    /*reduit les icone au minimal*/
    display: flex;
    /*centre le span du lien*/
    align-items: center;
    /*hauteur entre chaque item*/
    height: 5rem;
    /*couleur des item*/
    color: var(--text-primary);
    /*retir le sous-lignement des lien*/
    text-decoration: none;
    /* ajouter une tranparance */
    filter: grayscale(100%) opacity(0.7);
    /*jeux de couleur quand on rafrechi la page*/
    transition: var(--transition-speed); 
} 

/*affiche la couleur quand on passe sur icone*/
.nav-link:hover 
{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
} 

/*enlever le text sous item*/
.link-text 
{
    display: none;
    margin-left: 1rem;
}


.nav-link svg 
{
    width: 2rem;
    /*tail minimal*/
    min-width: 2rem;
    /*marge des item*/
    margin: 0 1.5rem;
}

/*couleur primer des icone*/
.fa-primary 
{
    color: #F5A9BC;
}

/*couleur seconder des icone*/
.fa-secondary 
{ 
    color: #FA5882;
}

/*transparanse des icone*/
.fa-primary,
.fa-secondary 
{
    transition: var(--transition-speed);
}

.logo 
{
    font-weight: bold;
    /*Majuscule toute les letre du logo*/
    text-transform: uppercase;
    /*bordure basse*/
    margin-bottom: 1rem;
    text-align: center;
    /*couleur quand on passe dessus*/
    color: var(--text-secondary);
    /*blocke de couleur foncer*/
    background: var(--bg-secondary);
    /*tail general grossi*/
    font-size: 1.5rem;
    
    width: 100%;
    letter-spacing: 0.3ch;
}

.logo svg 
{
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

/*rotation du logo*/
.navbar:hover .logo svg 
{
    transform: rotate(-180deg);
}

/* Small screens */
 @media only screen and (max-width: 600px) 
 {
  
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }
    
    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) 
{
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
   

    /*grossi le nav quand on passe dessus*/
    .navbar:hover {
        width: 16rem;
    }

    /*text sur le nav developer*/
    .navbar:hover .link-text{
        display: 
            /* block; */
            inline;
        transition: opacity var(--transition-speed);
    }
}
